@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <style>

        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }

        .text-center {
            text-align: center;
            padding: 50px;
        }

        h2 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #d9480f;
            margin-bottom: 20px;
        }

        .cover {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }


        h6 {
            color: #d9850f;
            line-height: 1.6;
            font-size: 18px;
            text-align: center;
        }

    </style>
</head>
<body>

    <div class="text-center">
        <h2>Welcome to our Pet Clinic Application!</h2>

        <h6>
            We know what it means to open your home and your heart to a pet that you love,
            and to build a bond based on the promise of protection.
        </h6>

        <img class="cover" src="~/hero for petclinic.jpg" alt="Cover photo for Pet Clinic" />
    </div>

</body>
</html>
